.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0; /* starter usynlig */
  transition: opacity 0.5s ease-in-out; /* fade-in */
  z-index: 9999;
}

.overlay.show {
  opacity: 1;
}

.overlay h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.overlay p {
  font-size: 1.2rem;
  opacity: 0.8;
}

@media (max-width: 768px) {
  .overlay p{
    font-size: 0.9rem;
  }
}